openapi: 3.0.3

info:
  title: Supply Chain Intelligence & Ticket API
  version: "1.1.0"
  description: >
    Supply Chain Intelligence API for inventory queries, finance approvals,
    logistics execution, and supply ticket management.

    Compatible with Google Vertex AI Conversational Agents and ADK tools.

    Guarantees:
    - Always returns HTTP 200
    - Always returns valid JSON
    - Never crashes the agent

servers:
  - url: https://us-central1-data-engineering-479617.cloudfunctions.net

paths:
  # =====================================================
  # Inventory (Read-only intelligence)
  # =====================================================
  /get_inventory_item:
    post:
      summary: Get current inventory for an item
      operationId: getInventoryItem
      description: >
        Returns live inventory availability for a given item.
        Used for informational queries. Does NOT create tickets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [item]
              properties:
                item:
                  type: string
                  example: screws
      responses:
        "200":
          description: Inventory lookup result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryResponse"

  # =====================================================
  # Finance
  # =====================================================
  /estimate_cost:
    post:
      summary: Estimate cost for an item and quantity
      operationId: estimateCost
      description: >
        Returns estimated cost for requested quantity.
        Used by FinanceAgent for planning.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EstimateCostRequest"
      responses:
        "200":
          description: Cost estimation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EstimateCostResponse"

  /approve_budget:
    post:
      summary: Approve or reject budget for an order
      operationId: approveBudget
      description: >
        Used by FinanceAgent to approve or reject supply orders.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveBudgetRequest"
      responses:
        "200":
          description: Budget approval result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApproveBudgetResponse"

  # =====================================================
  # Logistics
  # =====================================================
  /get_shipping_options:
    post:
      summary: Get shipping options
      operationId: getShippingOptions
      description: >
        Returns available shipping options for logistics planning.
      responses:
        "200":
          description: Shipping options
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShippingOptionsResponse"

  /execute_shipment:
    post:
      summary: Execute shipment for an order
      operationId: executeShipment
      description: >
        Executes shipment after finance approval.
        Used by LogisticsAgent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteShipmentRequest"
      responses:
        "200":
          description: Shipment execution result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecuteShipmentResponse"

  # =====================================================
  # Supply Tickets
  # =====================================================
  /submit_supply_request:
    post:
      summary: Create supply ticket
      operationId: submitSupplyRequest
      description: >
        Creates a new supply order ticket.
        Used only when user explicitly requests procurement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTicketRequest"
      responses:
        "200":
          description: Ticket created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTicketResponse"

  /get_supply_status:
    get:
      summary: Get supply ticket status
      operationId: getSupplyStatus
      parameters:
        - name: order_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Supply ticket status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupplyStatusResponse"

    post:
      summary: Get supply ticket status (agent-safe)
      operationId: getSupplyStatusPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id:
                  type: string
      responses:
        "200":
          description: Supply ticket status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupplyStatusResponse"

  /update_supply_status:
    post:
      summary: Update supply ticket fields
      operationId: updateSupplyStatus
      description: >
        Generic update endpoint used by Inventory, Finance,
        and Logistics agents to update ticket metadata.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStatusRequest"
      responses:
        "200":
          description: Update accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean

components:
  schemas:
    InventoryResponse:
      type: object
      properties:
        item:
          type: string
        available:
          type: boolean
        quantity:
          type: integer
        unit:
          type: string

    EstimateCostRequest:
      type: object
      required: [item_id, quantity]
      properties:
        item_id:
          type: string
        quantity:
          type: integer

    EstimateCostResponse:
      type: object
      properties:
        item_id:
          type: string
        quantity:
          type: integer
        unit_price:
          type: number
        estimated_cost:
          type: number

    ApproveBudgetRequest:
      type: object
      required: [order_id, approved]
      properties:
        order_id:
          type: string
        approved:
          type: boolean

    ApproveBudgetResponse:
      type: object
      properties:
        approved:
          type: boolean

    ShippingOptionsResponse:
      type: object
      properties:
        options:
          type: array
          items:
            type: object
            properties:
              carrier:
                type: string
              eta_days:
                type: integer
              cost:
                type: number

    ExecuteShipmentRequest:
      type: object
      required: [order_id, carrier]
      properties:
        order_id:
          type: string
        carrier:
          type: string

    ExecuteShipmentResponse:
      type: object
      properties:
        shipped:
          type: boolean

    CreateTicketRequest:
      type: object
      required: [requester_id, item_id, quantity]
      properties:
        requester_id:
          type: string
        item_id:
          type: string
        quantity:
          type: integer

    CreateTicketResponse:
      type: object
      properties:
        order_id:
          type: string
        status:
          type: string
        assistant_reply:
          type: string

    UpdateStatusRequest:
      type: object
      required: [order_id, updates]
      properties:
        order_id:
          type: string
        updates:
          type: object

    SupplyStatusResponse:
      type: object
      properties:
        order_id:
          type: string
        current_status:
          type: string
        item_id:
          type: string
        quantity:
          type: integer
        inventory:
          type: object
          nullable: true
        estimated_cost:
          type: object
          nullable: true
        approval_status:
          type: object
          nullable: true
        shipment:
          type: object
          nullable: true
