openapi: 3.0.0

info:
  title: Access Request Status API
  version: "1.0.0"
  description: >
    Read-only Access Request Status API for Conversational Agents.
    Used to fetch real-time lifecycle status of access requests.
    Always returns HTTP 200 with valid JSON.

servers:
  - url: https://us-central1-data-engineering-479617.cloudfunctions.net
    description: Access Request Status Service

paths:
  /get_access_request_status:
    get:
      summary: Get access request status
      operationId: getAccessRequestStatus
      description: >
        Returns the current lifecycle status of an access request.
        The agent must not infer or guess status.
      parameters:
        - name: request_id
          in: query
          required: true
          schema:
            type: string
          description: Access request identifier (e.g., AR-0AE46A74)
      responses:
        "200":
          description: Access request status response
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                properties:
                  ok:
                    type: boolean
                    description: Indicates whether the request was found and processed
                  request_id:
                    type: string
                  status:
                    type: string
                    description: Lifecycle status of the access request
                    enum:
                      - new
                      - assigned
                      - in_progress
                      - completed
                  resource:
                    type: string
                  access_level:
                    type: string
                  updated_at:
                    type: string
                    format: date-time
                  error:
                    type: string
