openapi: 3.0.0

info:
  title: Access Request Status Update API
  version: "1.0.0"
  description: >
    INTERNAL API for updating the lifecycle state
    of an access request. Invoked by Cloud Tasks or
    system orchestrators only.
    Not intended for direct user or agent access.

servers:
  - url: https://us-central1-data-engineering-479617.cloudfunctions.net

paths:
  /update_access_request_status:
    post:
      summary: Update access request status (internal)
      operationId: updateAccessRequestStatusInternal
      description: >
        Updates the lifecycle status of an access request
        in Firestore. This endpoint is called by Cloud Tasks
        as part of automated provisioning workflows.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request_id
                - status
              properties:
                request_id:
                  type: string
                  description: Access request identifier
                  example: AR-8F3A91C2
                status:
                  type: string
                  description: new | assigned | in_progress | completed | failed
                  example: completed
                updated_by:
                  type: string
                  description: System or agent updating the status
                  example: cloud_tasks
                metadata:
                  type: object
                  additionalProperties: true
                  description: Optional diagnostic or audit metadata

      responses:
        "200":
          description: Status update result
          content:
            application/json:
              schema:
                type: object
                required:
                  - request_id
                  - status
                properties:
                  request_id:
                    type: string
                    example: AR-8F3A91C2
                  status:
                    type: string
                    example: completed
                  updated_at:
                    type: string
                    description: ISO-8601 timestamp
                    example: "2026-01-19T06:47:12.456Z"